
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Baloo Bhaina 2', sans-serif;
   
}
.gamebody{
    background:url('../img/bg.jpg');
    min-height: 100vh;
    background-size:100vw 100vh;
}
#board{
    position:relative;
    display:grid;
    grid-template-columns:repeat(18,1fr); 
    grid-template-rows:repeat(18,1fr); 
    background: linear-gradient(rgb(197 242 204),rgb(188 235 106));
    top:10vh;
    left:10vw;
    width:40vw;
    height:40vw;
    border:5px solid yellow;
}
.scorecard{
    position:absolute;
    top:20vh;
    left:60vw;
    font-size:30px;
}
.head{
    background:linear-gradient(rgb(228, 52, 21),rgb(247, 210, 89));
    border:2px;
    border-radius:10px;

}
.snake{
    background:linear-gradient(rgb(245, 191, 55),rgb(240, 189, 5));
    border:2px;
    border-radius:10px;
}
.food{
    background:linear-gradient(rgb(17, 28, 173),rgb(56, 80, 68));
    border:2px;
    border-radius:10px;
}
.specialfood{
    background:linear-gradient(rgb(254, 0, 238),rgb(19, 19, 19));
    border:2px;
    border-radius:10px;
}
.menubutton{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:1vh;
    left:97vw;
    cursor:pointer;
}
.line{
  width:30px;
  height:5px;
  margin:2px 0px;
  background-color:black;
  border-radius:2px;
}
.menubar{
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    position: absolute;
    top: 7vh;
    right: 2vw;
    width: 20vw;
    height: 40vh;
    border: 2px solid yellow;
    border-radius: 10px;
    background: linear-gradient(rgb(197 242 204),rgb(188 235 106));
    opacity: 0;
}
.mbtn{
    width: 80%;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #646102d4;
    border-radius: 5px;
    background-color: #74be64;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', sans-serif;
}
