*{
    padding: 0;
    margin: 0;
}
.container{
     position: relative;
     width:40vw;
     height:40vw;
     background-image: url('/clock.png');
     background-size:100%;
     margin: auto;
}
#hours, #minutes, #seconds{
    position: absolute;
    left:49.5%;
    transform:rotate(0deg);
    transform-origin:bottom;
}
#hours{
    width:1%;
    height:20%;
    background-color: black;
    top:30%;
}
#minutes{
    width:1%;
    height:30%;
    background-color: black;
    top:20%;
    
}
#seconds{
    width:1%;
    height:40%;
    background-color: black;
    top:10%;
}